<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t3v="http://typo3.org/ns/T3v/T3vContent/ViewHelpers" data-namespace-typo3-fluid="true">
  <div id="c{data.uid}" class="ge--t3v-cookies-note ge">
    <f:if condition="{data.flexform_container}">
      <f:then>
        <v:tag name="div" class="ge__container container--{data.flexform_container} container" hideIfEmpty="true">
          <f:render section="GridElement" arguments="{data: data}" />
        </v:tag>
      </f:then>

      <f:else>
        <f:render section="GridElement" arguments="{data: data}" />
      </f:else>
    </f:if>
  </div>
</html>