<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t3v="http://typo3.org/ns/T3v/T3vContent/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="NoteGridElement" />

  <f:section name="GridElement">
    <v:tag name="div" class="ge__main" hideIfEmpty="true">
      <f:render section="Main" arguments="{data: data}" />
    </v:tag>

    <f:render section="CloseControl" arguments="{data: data}" />
  </f:section>

  <f:section name="Main">
    <f:format.raw>{t3v:viewColumn(viewColumn: 10, data: data)}</f:format.raw>
  </f:section>

  <f:section name="CloseControl">
    <v:variable.set name="closeControl" value="{data.flexform_closeControl}" />

    <f:if condition="{closeControl}">
      <a class="ge__close-control" href="#" title="{f:translate(key: 'gridElements.noteGridElement.closeControl.label', default: 'Close')}">
        {f:translate(key: 'gridElements.noteGridElement.closeControl.label', default: 'Close')}
      </a>
    </f:if>
  </f:section>
</html>