<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <div id="c{data.uid}" class="ce--t3v-cookies ce">
    <div class="ce__container container">
      <div class="ce__main">
        <f:render section="Main" />
      </div>

      <a class="ce__close-control" href="#" title="{f:translate(key: 'gridElements.t3vCookies.cookies.closeControl.label', default: 'Close')}">
        {f:translate(key: 'gridElements.t3vCookies.cookies.closeControl.label', default: 'Close')}
      </a>
    </div>
  </div>
</html>